* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f1f1f1f1;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

.navbar__ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 20px;
}

.navbar__ul li {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #344563;
}

.menu {
  display: none;
}

.description {
  background-color: white;
  background-image: url(img/Header\ bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 6rem;
  padding-bottom: 4rem;
  height: 700px;
  margin-top: -0.1rem;
}

.header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.37px;
  color: #091e42;
  padding: 150px 150px 2px 200px;
  font-size: 48px;
  text-align: left;
  line-height: 60px;
}

.parg {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #344563;
  padding: 15px 100px 2px 200px;
  width: 90%;
  font-size: 20px;
  letter-spacing: 0;
  text-align: left;
}

.let__go {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  padding: 1.2rem 100px 0 200px;
  text-align: left;
  color: #396df2;
}

.social__media {
  display: flex;
  padding: 12px 100px 0 200px;
}

.social__media__link {
  margin-right: 1rem;
  height: 20px;
  width: 20px;
}

.social__media__img {
  width: 13px;
  color: #505f79;
}

/* ====================================POST============================================== */

.post {
  margin-top: 3rem;
  background-color: #f1f1f1;
  padding: 80px;
}

.post__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 15px;
  margin-bottom: 6rem;
}

.post__img__mobile {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.post__image {
  display: none;
}

.post__side__img {
  width: 100%;
  height: auto;
}

.post__side__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 48px;
}

.descr__header {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #091e42;
  font-size: 35px;
  letter-spacing: 0;
  text-align: left;
}

.canopy {
  display: flex;
  gap: 2rem;
}

.canopy__p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  letter-spacing: 0;
  text-align: left;
}

.canopy__ul {
  display: flex;
  gap: 22px;
}

.canopy__ul li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  list-style: disc;
}

.descr__paragr {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.skills {
  display: flex;
  gap: 8px;
}

.skills__button {
  display: flex;
  background-color: #ebebff;
  padding: 5px 12px;
  height: 35px;
  border-radius: 8px;
  width: auto;
}

.btn__skills {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  background: transparent;
  border: none;
}

.skills__button,
.skills__button1 {
  list-style: none;
}

.see__proj__btn {
  padding: 12px;
  border-radius: 8px;
  width: 126px;
  background-color: transparent;
  border: 1px solid #6070ff;
}

.see__proj__btn a {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  cursor: pointer;
}

/* =======================END OF POST========================= */

#about {
  background-color: white;
  border-top-right-radius: 6rem;
  height: 824px;
  padding-top: 60px;
}

.about__container {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
  padding: 4rem;
}

.about__container_left {
  width: 42%;
}

.about__container_right {
  width: 54%;
}

.about__container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.about__container p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-bottom: 1rem;
}

.let__g {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
  margin-bottom: 0.4rem;
}

.social_media {
  display: flex;
  gap: 6px;
  margin-top: 0.6rem;
}

.social__media__lin {
  list-style: none;
}

.social__media__imag {
  width: 23px;
  height: 14px;
  border-radius: 8px;
}

.resume {
  padding: 0 2px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 162px;
  height: 48px;
  margin-top: 1.4rem;
  background-color: transparent;
  border: 1px solid #6070ff;
}

.resume_btn {
  font-family: "Poppins", sans-serif;
  color: #396df2;
  font-weight: 500;
  text-align: center;
  background: transparent;
  line-height: 24px;
  border: none;
  font-size: 17px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.lang__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang__header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.lang__container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-right: 1rem;
  margin-top: 2rem;
}

.lang__container__type {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  padding: 12px;
}

.lang__container__type img {
  width: 34px;
  height: 34px;
}

.lang__container__type span {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0.4rem;
}

.framework {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-right: 1rem;
  border-bottom: 1.4px solid #f9f7f7;
}

.arrow {
  color: #f7f7f9;
  height: 22px;
  width: 12px;
}

/* ========================CONTACT ME=========================== */

.contact__container {
  position: relative;
  background-image: url(img/contact\ form\ background\ shapes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6070ff;
  border-top-left-radius: 6rem;
  padding: 142px 320px;
  margin-top: -14rem;
  height: 840px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 801px;
  max-height: 577px;
  gap: 24px;
}

.contact__container h1 {
  display: flex;
  width: 801px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.contact__container p {
  width: 569px;
  height: 102px;
  color: #ebebff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

input {
  width: 447px;
  padding: 0 15px;
  height: 48px;
  flex-shrink: 0;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding: 15px;
  border: none;
  outline: none;
  resize: none;
  width: 447px;
  height: 170px;
  flex-shrink: 0;
}

.get__in {
  border: none;
  display: flex;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: white;
  align-items: center;
  color: #396df2;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  body {
    background-color: #f1f1f1f1;
  }

  nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0;
    height: 5rem;
    background-color: white;
  }

  .navbar__ul {
    display: none;
  }

  .menu {
    display: flex;
    width: 18px;
    height: 12px;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
  }

  .social__media {
    display: flex;
    margin-top: 0.4rem;
    padding: 0 6rem 1rem 6rem;
    gap: 1rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    background-image: url(img/header-shapes\ mobile@2x.svg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start;
    border-bottom-left-radius: 6rem;
    padding-top: 2rem;
    background-color: white;
    height: 120vh;
    margin-top: -0.1rem;
    margin-bottom: 5rem;
  }

  .header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    padding: 9rem 6rem 1rem 6rem;
  }

  .parg {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding: 0 6rem 1rem 6rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .let__go {
    padding: 0 6rem 1rem 6rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social__media__img {
    width: 16px;
    height: 16px;
  }

  /* ===============POST======================== */

  .post {
    margin-top: 3rem;
    background-color: #f1f1f1;
    padding: 34px;
  }

  .post__div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 15px;
    margin-bottom: 6rem;
  }

  .post__img__mobile {
    width: 100%;
    height: 100%;
  }

  .post__side__description {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 24px;
  }

  .descr__header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-bottom: 1rem;
  }

  .canopy {
    display: flex;
    gap: 2rem;
  }

  .canopy__p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .canopy__ul {
    display: flex;
    gap: 2rem;
  }

  .canopy__ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    margin-bottom: 0.7rem;
    list-style: disc;
  }

  .descr__paragr {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .skills {
    padding-top: 1.2rem;
    display: flex;
    gap: 8px;
  }

  .skills__button button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 4px;
  }

  .skills__button1 button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px 4px 12px;
    width: 90px;
    height: 30px;
    background: #ebebff;
    border-radius: 8px;
  }

  .see__proj__btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    background: #fff;
    border: 1px solid #6070ff;
    border-radius: 0.6rem;
    margin-top: 1.2rem;
    padding: 8px;
    width: 6.6rem;
    height: 2.7rem;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .see__proj__btn a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
  }

  /* ---------about me--------------- */

  .about__container {
    display: flex;
    flex-direction: column;
    gap: 88px;
    background-color: white;
    border-top-right-radius: 6rem;
    height: 1263px;
    margin-top: 5rem;
    padding: 0 34px;
  }

  .about__container_left {
    width: 100%;
  }

  .about__container_right {
    width: 100%;
  }

  .about__container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: #172b4d;
  }

  .about__container p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .let__g {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #7f8cff;
  }

  .social__media__lin {
    list-style: none;
    margin-right: 0.9rem;
    margin-top: 0.5rem;
  }

  .social__media__imag {
    width: 24px;
    height: 14px;
    border-radius: 8px;
  }

  .resume {
    padding: 0 2px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 162px;
    color: white;
    height: 48px;
    margin-top: 1.4rem;
    background-color: transparent;
    border: 1px solid #6070ff;
  }

  .resume_btn {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .resume:hover {
    background-color: #6070ff;
  }

  .resume_btn:hover {
    cursor: pointer;
    background-color: #6070ff;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
  }

  .lang__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lang__header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .lang__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .lang__container__type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    height: 66px;
    width: 100%;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 6px;
  }

  .lang__container__type img {
    width: 48px;
    height: 48px;
  }

  .lang__container__type span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  }

  .framework {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 6px;
    border-bottom: 3px solid #f7f7f9;
  }

  .framework img {
    margin-right: 1rem;
    color: #f7f7f9;
  }

  .social_media {
    margin: 0;
    display: flex;
    padding: 1rem 0 1rem 0;
  }

  /* ======================CONTACT ME========================== */

  .contact__container .backgrnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/contact\ form\ shapes-mobile@2x.svg);
    background-position: top 21px right;
    height: 779px;
    background-repeat: no-repeat;
    background-color: #6070ff;
    border-top-left-radius: 6rem;
    width: 100%;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6070ff;
    border-top-left-radius: 6rem;
    padding: 0;
    height: 924px;
    margin-top: 20rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 0 2rem;
  }

  .contact__container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 5rem;
    color: white;
    width: 100%;
    padding: 0 24px 0 24;
  }

  .contact__container p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #ebebff;
    padding: 1rem 2rem;
    margin-bottom: 6rem;
    width: 100%;
  }

  input {
    font-family: 'Poppins', sans-serif;
    height: 48px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    width: 100%;
    padding: 1px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    border: none;
    padding: 15px;
    outline: none;
    border-radius: 7px;
    resize: none;
    width: 100%;
    height: 170px;
    margin-bottom: 1rem;
  }

  .get__in {
    width: 130px;
    height: 48px;
    border: 1px solid #6070ff;
    background-color: #fff;
    color: #396df2;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
  }

  .get__in:hover {
    cursor: pointer;
    background-color: #6070ff;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
  }

  .get__in:active {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
  }

  .get__in:disabled {
    color: #5e6c84;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.51px;
  }
}
