@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    padding: 1rem;
  }

  .navbar__ul {
    display: flex;
    align-items: center;
    height: 20px;
  }

  .logo {
    width: 76px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  nav img {
    display: none;
  }

  .navrbar__link {
    margin-left: 23px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .description {
    background-color: white;
    background-image: url(img/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-left-radius: 6rem;
    padding-bottom: 6rem;
  }

  .header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding: 90px 100px 2px 100px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.37px;
    color: #091e42;
    font-size: 30px;
    text-align: left;
  }

  .parg {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #344563;
    padding: 15px 100px 2px 100px;
    font-size: 17px;
    letter-spacing: 0;
    text-align: left;
  }

  .let__go {
    padding: 1.2rem 100px 0 100px;
    color: #396df2;
  }

  .social__media {
    display: flex;
    padding: 12px 100px 0 100px;
  }

  .social__media__link {
    list-style: none;
    margin-right: 1rem;
  }

  .social__media__img {
    width: 13px;
    color: #505f79;
  }

  /* ===================POST===================== */

  .post__div {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
    background-color: white;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    padding: 1rem 1rem 2rem 1rem;
  }
}
