* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f1f1f1f1;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 0;
  height: 5rem;
  background-color: white;
}

.navbar__ul {
  display: none;
}

.menu {
  display: flex;
  width: 18px;
  height: 12px;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.social__media {
  display: flex;
  margin-top: 0.4rem;
  padding: 0 1rem 1rem 2rem;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  background-image: url(img/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  justify-content: flex-start;
  border-bottom-left-radius: 6rem;
  padding-top: 2rem;
  background-color: white;
  height: 90vh;
  margin-top: -0.1rem;
  margin-bottom: 5rem;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 2rem 2rem 1rem 2rem;
}

.parg {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding: 0 1rem 1rem 2rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.let__go {
  padding: 0 1rem 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social__media__img {
  width: 16px;
  height: 16px;
}

/* ===============POST======================== */

.post__container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.post__div {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-bottom: 2rem;
}

.post__image {
  display: none;
}

.post__img__mobile {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.post__side__description {
  display: flex;
  flex-direction: column;
}

.descr__header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 1rem;
}

.canopy {
  display: flex;
  gap: 2rem;
}

.canopy__p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.canopy__ul {
  display: flex;
  gap: 2rem;
}

.canopy__ul li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-bottom: 0.7rem;
  list-style: disc;
}

.descr__paragr {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.skills {
  padding-top: 1.2rem;
  display: flex;
  gap: 8px;
}

.skills__button button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px 4px 12px;
  width: 57px;
  height: 30px;
  background: #ebebff;
  border-radius: 8px;
}

.skills__button1 button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px 4px 12px;
  width: 90px;
  height: 30px;
  background: #ebebff;
  border-radius: 8px;
}

.see__proj__btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 0.6rem;
  margin-top: 1.2rem;
  padding: 8px;
  width: 6.6rem;
  height: 2.7rem;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.see__proj__btn a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
}

/* ---------about me--------------- */

.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 88px;
  background-color: white;
  border-top-right-radius: 6rem;
  height: 1263px;
  margin-top: 5rem;
  padding: 114px 24px;
}

.about__container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.about__container p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.let__g {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.social__media__lin {
  list-style: none;
  margin-right: 0.9rem;
  margin-top: 0.5rem;
}

.social__media__imag {
  width: 24px;
  height: 14px;
  border-radius: 8px;
}

.resume_btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #6070ff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.lang__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang__header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lang__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.lang__container__type {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  height: 66px;
  background-color: #f7f7f9;
  align-items: center;
  border-radius: 8px;
}

.lang__container__type img {
  width: 48px;
  height: 48px;
}

.lang__container__type span {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.framework {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 6px;
  border-bottom: 3px solid #f7f7f9;
}

.framework img {
  margin-right: 1rem;
  color: #f7f7f9;
}

.social_media {
  margin: 0;
  display: flex;
  padding: 1rem 0 1rem 0;
}

/* ======================CONTACT ME========================== */

.contact__container {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5rem;
  position: relative;
  height: 779px;
  bottom: 159px;
}

.contact__container .backgrnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/contact\ form\ shapes-mobile@2x.svg);
  background-position: top 21px right;
  height: 779px;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 6rem;
  width: 100%;
}

.contact__container h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 5rem;
  color: white;
  padding: 0 24px 0 24;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 0 2rem;
}

input {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.contact__container p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  border: none;
  padding: 15px;
  outline: none;
  border-radius: 7px;
  resize: none;
  width: 100%;
  height: 170px;
  margin-bottom: 1rem;
}

.get__in {
  width: 130px;
  text-align: center;
  height: 48px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s;
  font-family: "Poppins", sans-serif;
}

.get__in:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.get__in:active {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.get__in:disabled {
  color: #5e6c84;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}
